[bumpversion]
current_version = 0.7.0
commit = False
tag = False

[bumpversion:file:Makefile]
search = packageVersion={current_version}
replace = packageVersion={new_version}

[bumpversion:file:open-agent-api.yaml]
search = version: "{current_version}"
replace = version: "{new_version}"
